body{
	margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

body{
	background-color: #14213d;
	padding: 0;
	text-align: center!important;
}

img{
	vertical-align: middle;
	border-style: none;
}

.nav{
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.bloc{
	background-color: #192e5c;
	box-shadow: 1px 3px 12px #000000;
	text-align: center;
	margin: 10px auto 30px;
	border-radius: 7px;
	padding: 20px;

}

.titre{
	text-align: center;
	font-size: 3em;
	color: #ffffff;
}

.shinydex{
	color: #ffffff;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: 15px;
	margin-right: 15px;
}

.m-0{
	margin: 0!important;
}

.justify-content-center{
	justify-content: center!important;
}

.p-0{
	padding: 0!important;
}

.d-flex {
    display: flex!important;
}

.shinydex .row-pokemon .pkm.obtained {
    border: none;
    border-top: 3px solid #adadad;
    box-shadow: 2px 2px 1px #202127;
    background: #2b3146;
}

.shinydex .row-pokemon .pkm{
	padding: 13px 0;
    height: 72px;
    border-radius: 5px;
    border: 3px solid;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #adadad;
}

.shinydex .row-pokemon .pkm .dex_number{
	font-size: 14px;
	position: absolute;
	top: 7px;
	left: 10px;
}


.shinydex .row-pokemon .pkm{
	border-color: #3f434d;
}

.w-100{
	width: 100%!important;
}

.col-xs-12, .col-md-10, .col-lg-8, .col-xxxl-7, .col-4, .col-sm-3, .col-md-2, .col-xxl-1 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

*, :after, :before {
    box-sizing: border-box;
}

/**********************affiche*************************/
@media screen and (min-width: 1024px)
{
	.col-xs-12{
		flex: 0 0 33.3333333333%; 
		max-width: 33.3333333333%;
	}
}
@media screen and (min-width: 1000px)
{
	.col-xxxl-7{
		flex: 0 0 48.3333333333%;
		max-width: 48.3333333333%;
	}

}

@media screen and (min-width: 992px)
{
	.col-lg-8{
    	flex: 0 0 66.6666666667%;
    	max-width: 66.6666666667%;
	}
}

@media screen and (min-width: 768px)
{
	.col-md-10{
    	flex: 0 0 83.3333333333%;
    	max-width: 83.3333333333%;
	}
}
/**********************pokémon**************************/
.col-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}

@media (min-width: 576px)
{
	.col-sm-3 {
    	flex: 0 0 25%;
    	max-width: 25%;
    }	
}

@media (min-width: 768px)
{
	.col-md-2 {
   		flex: 0 0 16.6666666667%;
    	max-width: 16.6666666667%;
	}
}

@media (min-width: 1440px)
{
	.col-xxl-1 {
   		flex: 0 0 8.3333333333%;
    	max-width: 8.3333333333%;
	}
}







